<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">Class Buddy</a>
  </div>

  <div class="flex-none p-3">
    <div class="dropdown dropdown-end px-8">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <span class="badge badge-sm indicator-item">8</span>
        </div>
      </label>
      <div tabindex="0" class="mt-3 card card-compact dropdown-content w-150 bg-base-100 shadow">
        <div class="card-body">
          <!-- Table inside of shopping cart -->
          <div class="overflow-x-auto w-full">
            <table class="table w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="cart-items">
                <!-- row 1 -->
                <tr class="cart-row">
                  <td class="cart-items">
                    <div class="flex items-center space-x-3">
                      <div class="item-image cart-item-image">
                        <div class="mask mask-squircle w-12 h-12">
                          <img src="https://i.imgur.com/bTEsJU3.jpg" alt="Item Image Tailwind CSS Component" />
                        </div>
                      </div>
                      <div>
                        <div class="cart-item-title font-bold">Cone</div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="cart-price text-sm opacity-50">10 points</div>
                  </td>
                  <td>
                    <input class="cart-quantity-input" type="number" value="1">
                  </td>
                  <td>
                    <button class="btn btn-error">Error</button>
                  </td>
                </tr>
                <tr class="cart-row">
                  <td class="cart-items">
                    <div class="flex items-center space-x-3">
                      <div class="item-image cart-item-image">
                        <div class="mask mask-squircle w-12 h-12">
                          <img src="https://i.imgur.com/bTEsJU3.jpg" alt="Item Image Tailwind CSS Component" />
                        </div>
                      </div>
                      <div>
                        <div class="cart-item-title font-bold">Cone</div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="cart-price text-sm opacity-50">10 points</div>
                  </td>
                  <td>
                    <input class="cart-quantity-input" type="number" value="2">
                  </td>
                  <td>
                    <button class="btn btn-error">Error</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <span class="font-bold text-lg">8 Items</span>
          <span class="text-info">Subtotal: $999</span>
        </div>
      </div>
    </div>

    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://placeimg.com/80/80/people" />
        </div>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a href="/profile" class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a href="/feed">Inventory</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="/adjustCart.js"></script>