<%- include('partials/header') -%> 
<nav>
    <ul>
        <li>Home</li>
        <li>About Us</li>
        <li>Pricing</li>
    </ul>
</nav>

<div class="container">
    <div class="row ">
      <div class="col-12">
        <h1> Classroom Management Made Simple</h1>
        <p>Implementing effective classroom management strategies can be a challenge. With the right tools at a click of a button we make it simple.</p>
      </div>
      <div class="box">Box</div>
      <img src="#"/>
    </div>
  </div>



<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    



<!-- 
<%- include('partials/footer') -%> -->